<?xml version="1.0"?>

<model>
  <name>UR10-Schunk Hybrid Poly Collision</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>ur10_schunk_hybrid</name>
    <email>ur10_schunk_hybrid</email>
  </author>

  <description>
    The UR10-Schunk Hybrid Polygon based collision mesh model.
  </description>
</model>
